@using VendorAndOrder.Models;

<h3>Here are your orders:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  <!-- <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Price</a></li>
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Date</a></li> -->
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new orders</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>